{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block content %}
<div class='w-1/2 my-6 mx-auto bg-gray-100 p-6 rounded-xl'>
    <h1 class='mb-6 text-3xl'>Sign up</h1>
    <form method='post' action=''>
        {% csrf_token %}

    <div class='mb-3'>
        <label class='inline-block mb-2'>Username</label><br>
        {{ form.username }}
    </div>     
    <div class='mb-3'>
        <label class='inline-block mb-2'>Email</label><br>
        {{ form.password }}
    </div>   
    <button class='bg-teal-500 text-white rounded-xl px-4 py-4 hover:bg-teal-700'>Log in</button>
</div>
{% endblock %}